body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  color: #0078d7;
}

a {
  color: #0078d7;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
  cursor: pointer;
}
